@using Microsoft.AspNetCore.Razor.Language
@page "/"
@inject Generatrix Generator

<h1>Razor Explorer</h1>
<hr />

<div class="row justify-content-between">
    <div class="col-md">
        <button class="btn btn-primary" onclick="@OnClick">Show me!</button>
    </div>
    <div class="col-md">
        <div class="form-group">
            <label for="configuration">Configuration: </label>
            <select bind="configuration">
                <option value="@Configuration.MvcRazor_2_1">MVC 2.1</option>
                <option value="@Configuration.Blazor">Blazor</option>
            </select>
        </div>
        <div class="form-group">
            <label for="configuration">Output Kind: </label>
            <select bind="outputKind">
                <option value="@OutputKind.RuntimeCodegen">Generated C# (Runtime)</option>
                <option value="@OutputKind.DesigntimeCodegen">Generated C# (Design-time)</option>
                <option value="@OutputKind.IR">Razor IR</option>
            </select>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md">
        <textarea class="form-control" placeholder="Enter some Razor code" bind="input" rows="16"></textarea>
    </div>
    <div class="col-md">
        <textarea class="form-control" disabled rows="16">@output</textarea>
    </div>

</div>
<div class="row">

</div>

@functions {

string input;
Configuration configuration;
OutputKind outputKind;

string output;

void OnClick(UIMouseEventArgs e)
{
    Update();
}

void Update()
{
    switch (configuration)
    {
        case Configuration.MvcRazor_2_1:
            Generator.Configuration = RazorConfiguration.Create(RazorLanguageVersion.Version_2_1, "MVC-2.1", new[]
            {
            new AssemblyExtension("MVC-2.1", typeof(Microsoft.AspNetCore.Mvc.Razor.Extensions.InjectDirective).Assembly),
        });

            break;

        case Configuration.Blazor:
            Generator.Configuration = RazorConfiguration.Create(RazorLanguageVersion.Experimental, "Blazor-0.1", new[]
            {
            new AssemblyExtension("Blazor-0.1", typeof(Microsoft.AspNetCore.Blazor.Razor.BlazorExtensionInitializer).Assembly),
        });
            break;
    }

    switch (outputKind)
    {
        case OutputKind.RuntimeCodegen:
            output = Generator.ProcessRuntime(input?.ToString() ?? string.Empty);
            break;

        case OutputKind.DesigntimeCodegen:
            output = Generator.ProcessDesignTime(input?.ToString() ?? string.Empty);
            break;

        case OutputKind.IR:
            output = Generator.ProcessIR(input?.ToString() ?? string.Empty);
            break;
    }
}

private enum Configuration
{
    MvcRazor_2_1,
    Blazor,
}

private enum OutputKind
{
    RuntimeCodegen,
    DesigntimeCodegen,
    IR,
}
}